<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true">

    <Appenders>
        <!-- <Appender type="File" name="MyFile" fileName="~/Downloads/GNUstepBuilder.log">
            <Layout type="PatternLayout" pattern="[%d{yyy-MM-dd HH:mm:ss.SSS}][%t][%-5level][%c{36}] - %msg%n" />
        </Appender>

        <Appender type="File" name="MyFileFull" fileName="~/Downloads/GNUstepBuilder.log">
            <Layout type="PatternLayout" pattern="[%d{yyy-MM-dd HH:mm:ss.SSS}][%t][%-5level][%C{36}.%M][%L] - %msg%n" />
        </Appender> -->

        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout pattern="[%d{yyy-MM-dd HH:mm:ss.SSS}][%t][%-5level][%c{36}] - %msg%n"/>
        </Console>

        <!-- <Console name="ConsoleFull" target="SYSTEM_ERR">
            <PatternLayout pattern="[%d{yyy-MM-dd HH:mm:ss.SSS}][%t][%-5level][%C{36}.%M][%L] - %msg%n" />
        </Console> -->
    </Appenders>

    <Loggers>
        <!-- <Logger name="com.galenrhodes.gnustep" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleFull" />
        </Logger> -->

        <Logger name="com.galenrhodes.gnustep" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <!-- <AppenderRef ref="MyFile"/> -->
        </Root>
    </Loggers>

</Configuration>
